/* CSS for about-me profile website
 * known issues: 
 * REMOVE UNDERLINE FROM VISIT GITHUB
 */

body {
    background-color: black;
}

#container {  
  background-color: white;
  font-family: Asap, sans-serif;
  color: black;
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  /* CSS box model:
   * margin: area around the border (which contains the padding and content)
   * padding: area surrounding the content
   * content: box where the text and images appear 
   * source: https://www.w3schools.com/css/css_boxmodel.asp
   */
}
.clearFix {
    clear: both;
}
#col-left {
  width: 48%;
  float: left;
}
#col-right {
  width: 48%;
  float: right;
}
#img-profile {
  border: 5px solid #ebdef0;
  border-radius: 90%;
  width:100%; 
  height:100%; 
  object-fit: content;
}
h1 {
  color: #a64ac9;
}
#link-github {
  border: 3px outset #a64ac9;
  border-radius: 4px;
  background-color: #ebdef0;
  padding: 3px;
  width: fit-content; 
}
.link {
  color: #a64ac9;
}
#overview-general {
  margin: 10px;
}
