/* CSS for about-me profile website
 * known issues: 
 * floating
 */

body {
    background-color: black;
}

#container {  
  background-color: white;
  font-family: Asap, sans-serif;
  color: black;
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* CSS box model:
   * margin: area around the border (which contains the padding and content)
   * padding: area surrounding the content
   * content: box where the text and images appear 
   * source: https://www.w3schools.com/css/css_boxmodel.asp
   */
}
.clearFix {
    clear: both;
}
#col-left {
  padding-left: 10px;
  width: 48%;
  float: left;
}
#col-right {
  width: 48%;
  float: right;
}
h1 {
  color: #a64ac9;
}
#link-github {
  border: 3px solid #a64ac9;
  border-radius: 4px;
  width: fit-content; 
}
.link {
  color: #a64ac9;
}
#overview-general {
  margin: 10px;
}
